
#form{
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #517bf0;
    border-radius: 5px;
}
.centeredBox{
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #517bf0;
    border-radius: 5px;
}
#email{
    width: 100%;
    margin-top: 5px;
}
#nav-bar{
    background-color: #517bf0 ;
}

#nav-bar .nav-link{
    color: white;

}
.product-div{
    /* display: flex; */
    /* flex-direction: row; */
    padding: 10px; 
    /* flex-wrap: wrap; */
    /* justify-content: space-around;     */

}
.product-div  .left{

margin: 10px;
}
#video{
margin: auto;
height:315px ;
width:560px;
}

.vid-div{
    margin: auto;
    position: relative;
    left: 20% ;
}
@media only screen and (max-width: 600px) {
    
    #video{
        margin: auto;
        height:auto ;
        width:auto;
        }
  }