<<<<<<< HEAD
#form{
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #517bf0;
    border-radius: 5px;
}
.centeredBox{
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #517bf0;
    border-radius: 5px;
}
#email{
    width: 100%;
    margin-top: 5px;
=======
#nav-bar{
    background-color: #517bf0 ;
}

#nav-bar .nav-link{
    color: white;
>>>>>>> 9b5b20d4dbf7f860834fc3d7ad203a00f85bfadc
}